body {
    background-color: white;
}
.white {
    background-color: white;
    text-align: center;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: auto;
    background-color: white;
}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
}

li a:hover {
    background-color: #111;
    color: white;
}
.logo {
    height: 55px;
}
.container {
    margin: 50px auto;
    background-color: white;
    
    display: grid;
    grid-template-columns: 370px 250px 250px 250px 660px;
    grid-template-rows: 350px;
    grid-column-gap: 100px;
  }
.p_size {
    font-size: 18px;
}
.padding {
    padding: 15px;
}
b {
    display: block;
    flex: 1;
    height: 2px;
    opacity: .1;
    background-color: currentColor;
    font-weight: bolder;
    box-sizing: border-box;
}
span {
    text-align: center;
}
footer {
    background-color: #777;
    padding: 30px;
    padding-left: 200px;
    color: white;
}
.iletisim{
    text-decoration: none;
    color: white;
    margin-top: 10px;
    padding-top: 10px;
    font-size: 20px;
}
.bosluk {
    padding: 20px;
    margin: 20px;
}
.font {
    font-family: 'Lato', sans-serif;
}
.proje {
    text-decoration: none;
    color: black;
}
.temizle {
    clear: both;
}
.container1 {
    margin: 50px auto;
    background-color: white;
    align-items: center;
    
    display: grid;
    grid-template-columns: 243px 340px 340px 340px 340px;
    grid-template-rows: 350px 350px 350px;
    grid-column-gap: 100px;
}
.iletisim1{
    text-decoration: none;
    color: black;
    margin-top: 10px;
    padding-top: 10px;
    font-size: 20px;
}